* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #38373c3e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* Yatayda ortala */
  align-items: center;
  /* Dikeyde ortala */
}

.App {
  width: 350px;
  height: auto;
  background-color: #38373c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.App-header {
  width: 100%;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

.Search-bar {
  width: auto;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Search-input {
  border-radius: 50px;
  border: 0;
  padding: 5px;
  width: 200px;
  height: 15px;
}

.Search-bar i {
  background-color: #ffffff;
  border-radius: 100%;
  padding: 2px 3px 2px 3px;
  color: rgb(0, 0, 0);
  margin-left: 20px;
}

.Search-bar i:active {
  transform: translate(1px, -1px);
}

.Ad-input,
.Soyad-input {
  border-radius: 50px;
  border: 0;
  padding: 5px;
  width: auto;
  height: 15px;
  background-color: #38373ca2;
  text-align: center;
  color: white;
}


.Number-list{
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.Number {
  width: 340px;
  height: 90px;
  background-color: #38373c;
  display: flex;
  align-items: center;
  border: 0;
  justify-content: space-between;
}



.inputs {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
}

.Ekle-space {
  width: 100%;
  display: flex;
  align-items: center;

}

.input-tuslar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #73a062;
  height: 70px;
  width: 150px;
}

.input-tuslar button {
  background-color: #ffffff;
  border: 0;
  box-shadow: -2px 2px;
  cursor: pointer;
  padding: 3px;
  border-radius: 5px;
}

.input-tuslar button:active {
  transform: translate(2px, -2px);
}

.inputs input::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.inputs input:-ms-input-placeholder {
  color: #ffffff;
}

.inputs input::-webkit-input-placeholder {
  color: #f6f6f6;
}

.name {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

.ozellik {
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: #73a062;
  padding: 4px 10px 4px 10px ;
  border-radius: 0px 50px 50px 50px;
  margin-left: 10px;
}

.Number i {
  color: #ffffff;
  margin-left: 15px;
  font-size: 25px;
}
.Number i:hover{
  color: #a39fb3;
}
.Number i:active {
  transform: translate(1px, -1px);
}

.Number_left {
  gap: 15px;
  display: flex;
  flex-direction: column;
    
}
.Number_orta{
  width: 180px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.Number_right{
  width: 50px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.modal-content input {
  width: 90%;
  margin: 10px 0;
  padding: 8px;
  border-radius: 5px;
  border: 3px solid blue;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 10px;
  border: none;
  cursor: pointer;
}
